<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb" >
			<li ><a href="#index_page" ng-bind="'lg_main.index' | translate"></a></li>
			<li class="active"><span ng-bind="'lg_productType.productType' | translate"></span></li>
			<li class="active" ng-if="ctrl.belongname"><span ng-bind="ctrl.belongname"></span></li>
		</ol>
	</div>
</div>
<div class="row">
                            
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">
					<i class="fa fa-cube"></i>&nbsp;
					<span ng-if="ctrl.belongname" ng-bind="ctrl.belongname+'：'"></span>
					<span ng-bind="'lg_productType.manager' | translate"></span>
				</h2>
				<div class="filter-block pull-right">
					<div ng-if="ctrl.funcPerm.U == 'true'" class="form-group pull-left">
						<a class="form-control" data-toggle="dropdown" >
							<span ng-bind="'lg_main.batch_opt' | translate"></span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a ng-click="ctrl.operateChg(1)"><i class="fa fa-eye"></i><span ng-bind="'lg_main.batch_opt1' | translate"></span></a></li>
							<li><a ng-click="ctrl.operateChg(2)"><i class="fa fa-eye-slash"></i><span ng-bind="'lg_main.batch_opt2' | translate"></span></a></li>
							<!--<li><a ng-click="ctrl.operateChg(3)"><i class="fa fa-trash-o"></i><span ng-bind="'lg_main.batch_opt3' | translate"></span></a></li>-->
							
						</ul>
					</div>
					<div ng-if="ctrl.funcPerm.R == 'true'" class="form-group pull-left">
						<input type="text" class="form-control" ng-model="ctrl.search_str" my-enter="ctrl.search()" placeholder="Search...">
						<a ng-click="ctrl.search()"><i class="fa fa-search search-icon"></i></a>
					</div>
					<a ng-if="ctrl.funcPerm.U == 'true'" ng-href="#odring_list#{{ctrl.odrhash}}" class="btn btn-success pull-right">
						<i class="fa fa-exchange"></i>&nbsp;&nbsp;<span ng-bind="'lg_main.odring' | translate"></span>
					</a>

					<a ng-if="ctrl.funcPerm.C == 'true'" ng-href="#productType_page#{{ctrl.newhash}}"
						class="btn btn-success pull-right">
						<i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;<span
							ng-bind="'lg_main.add' | translate"></span>
					</a>


					<!--
					<a ng-if="ctrl.level<2 || !ctrl.level" href="#productType_dir#{{ctrl.newhash}}" class="btn btn-success pull-right">
						<i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;<span ng-bind="'lg_main.adddir' | translate"></span>
					</a>
					-->
					<a id="backBtn" ng-show="ctrl.level>1" ng-href="#productType_list#{{ctrl.backhash}}"  class="btn btn-danger pull-right">
						<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;<span ng-bind="'lg_main.back_page' | translate"></span>
					</a>
				</div>
			</header>
			<div class="main-box-body clearfix"  >
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">
									<md-checkbox md-no-ink
												 ng-checked="ctrl.isChecked()"
						                         md-indeterminate="ctrl.isIndeterminate()"
						                         ng-click="ctrl.toggleAll()"
						                         aria-label=" "
						                         class="md-primary"
						                         style="margin-bottom:0px;">
						            </md-checkbox>
								</th>
								<th class="text-center">&nbsp;</th>
								<th><span ng-bind="'lg_productType.name' | translate"></span></th>
								<th class="text-center"><span ng-bind="'lg_main.onoff' | translate"></span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="productTypes in ctrl.data_list track by $index" ng-show="productTypes.id">
								<td class="text-center" width="5%">
									<md-checkbox md-no-ink ng-checked="ctrl.exists(productTypes, ctrl.selected)" ng-click="ctrl.toggle(productTypes, ctrl.selected)" class="md-primary" style="margin-bottom:0px;" aria-label=" "></md-checkbox>
								</td>
								<td style="width:5%;" class="text-center" >
									<span ng-if="productTypes.pagetype=='dir'"><i class="fa fa-folder"></i></span>
									<span ng-if="productTypes.pagetype=='page'"><i class="fa fa-file"></i></span>
								</td>
								<td>
									<span ng-if="productTypes.pagetype=='page'" ng-bind="productTypes.name" ></span>
									<a ng-if="productTypes.pagetype=='dir'" ng-href="#productType_list#{{productTypes.param}}" ng-bind="productTypes.name" ></a>
									<a ng-if="productTypes.pagetype=='dir'" ng-href="#productType_list#{{productTypes.param}}">
										&emsp;
										<span ng-if="productTypes.pagecnt == 0" class="badge">0</span>
										<span ng-if="productTypes.pagecnt != 0" class="badge badge-danger" ng-bind="productTypes.pagecnt"></span>
									</a>
								</td>
								<td class="text-center" width="10%"><span ng-click="ctrl.publishChange(productTypes.id,productTypes.publish)" ng-class="{'1': 'label label-success', '0': 'label label-gray'}[productTypes.publish]" ng-bind="{1: 'ON', 0: 'OFF'}[productTypes.publish]" ></span></td>								
								<td  style="width: 15%;">
									<a ng-if="ctrl.funcPerm.U == 'true'" href="#productType_{{productTypes.pagetype}}#{{productTypes.edit}}" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									
									<a href="#products_list#{{productTypes.gopro}}" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									
									<a ng-if="ctrl.funcPerm.D == 'true'" ng-if="ctrl.level>1" href="javascript:void(0)" ng-click="ctrl.del(productTypes.id)" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									
								</td>
							</tr>
							
							<tr ng-if="ctrl.cnt == 0">
								<td class="text-center" colspan="999">
									<span ng-bind="'lg_main.no_row' | translate" ></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<page-ctrl-el params="ctrl.params" cnt="ctrl.cnt" page="ctrl.params.page"></page-ctrl-el>
			</div>
		</div>
	</div>
	
</div>
	