<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#/" ng-bind="'lg_main.index' | translate"></a></li>
			<li class="active"><span ng-bind="'lg_mainmenu.manager' | translate"></span></li>
			<li class="active"><span ng-bind="'lg_main.edit' | translate"></span></li>
		</ol>
		
		
	</div>
</div>

<div class="md-overlay"></div><!-- the overlay element -->

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left"><i class="fa fa-gear"></i>&nbsp;<span ng-bind="'lg_mainmenu.manager' | translate"></span></h2>
				
				<div class="filter-block pull-right">											
					<a ng-if="ctrl.funcPerm.U == 'true'" href="javascript:void(0)" ng-click="ctrl.submit()" class="btn btn-success pull-right">
						<i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;<span ng-bind="'lg_main.cfm' | translate"></span>
					</a>											
					<a href="#mainmenu_list#{{ctrl.backhash}}" class="btn btn-default pull-right">
						<i class="fa fa-close fa-lg"></i>&nbsp;&nbsp;<span ng-bind="'lg_main.cancel' | translate"></span>
					</a>	
				</div>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr ng-if="ctrl.textList.length == 0">
								<td width="150" style="border:0;" >{{'lg_mainmenu.name' | translate}} <span class="text-red">*</span></td>
								<td style="border:0;"><input type="text" class="form-control" ng-model="ctrl.mainmenu_dtl.name" id="mainmenu_name" placeholder="{{'lg_mainmenu.name' | translate}}"></td>
							</tr>
							<tr ng-if="ctrl.textList.length > 0" ng-repeat="text in ctrl.textList">
								<td width="150" style="border:0;" >{{('lg_lang.'+text.code) | translate}}{{'lg_mainmenu.name' | translate}} <span class="text-red">*</span></td>
								<td style="border:0;"><input type="text" class="form-control" ng-model="ctrl.nameList[text.code]" id="mainmenu_name{{text.code}}" placeholder="{{'lg_mainmenu.name' | translate}}"></td>
							</tr>
							<tr>
								<td ng-bind="'lg_main.onoff' | translate"></td>
								<td>        
									<div class="onoffswitch onoffswitch-success">
										<input type="checkbox" name="onoffswitch4" class="onoffswitch-checkbox" ng-checked="ctrl.mainmenu_dtl.publish" ng-true-value="'1'" ng-false-value="'0'" ng-model="ctrl.mainmenu_dtl.publish" id="mainmenu_state" >
										<label class="onoffswitch-label" for="mainmenu_state">
											<div class="onoffswitch-inner"></div>
											<div class="onoffswitch-switch"></div>
										</label>
									</div>
								</td>
							</tr>
							<tr rowspan="2"  ng-repeat="text in ctrl.textList">
								<td>{{('lg_lang.'+text.code) | translate}}{{'lg_mainmenu.mainmenu_banner' | translate}}</td>
								<td>
                                    <img ng-show="!previewImage[text.id] && ctrl.mainmenu_dtl.img[text.id]"  ng-src="{{ctrl.mainmenu_dtl.img[text.id]}}" style="margin-bottom:10px;max-width:700px;"/>
                                    <img ng-show="previewImage[text.id]" ng-src="{{previewImage[text.id]}}" style="margin-bottom:10px;max-width:700px;"/>
									<br>
                                    <file-field ng-model="advrollimg[text.id]" preview="previewImage" seq="{{text.id}}" class="btn btn-primary" >{{'lg_main.browser' | translate}}</file-field>
                                    <span class="text-red" ng-bind="'lg_mainmenu.mainmenu_banner_msg' | translate"></span>
                                    <br>
                                    <br>
                                    <span ng-bind="'lg_mainmenu.mainmenu_banner_name' | translate"></span>
                                    <input type="text" style="display:inline;width:200px;" maxlength="12" class="form-control" ng-model="ctrl.imgnameList[text.code]" />
									<span class="text-red" ng-bind="'lg_mainmenu.mainmenu_banner_limit' | translate"></span>
								</td>
							</tr>
							
							<tr>
								<td ng-bind="'lg_main.page_type' | translate"></td>
								<td>                                                            
									<div class="btn-group">
									    <label class="btn btn-primary" ng-init="ctrl.mainmenu_dtl.linktype='link'" ng-model="ctrl.mainmenu_dtl.linktype" uib-btn-radio="'link'"> {{'lg_main.page_type_link' | translate}}</label>
									    <label class="btn btn-primary" ng-model="ctrl.mainmenu_dtl.linktype" uib-btn-radio="'database'">{{'lg_main.page_type_dbpage' | translate}}</label>
									</div>
								</td>
							</tr>
							<tr ng-show="ctrl.mainmenu_dtl.linktype=='link'">
								<td ng-bind="'lg_main.linkurl' | translate"></td>
								<td><input type="text" class="form-control" ng-model="ctrl.mainmenu_dtl.linkurl" placeholder="{{'lg_main.linkurl' | translate}}" /></td>
							</tr>
							
							<tr id="mainmenu_pagetype_tr_2" ng-show="ctrl.mainmenu_dtl.linktype=='database'">
								<td ng-bind="'lg_main.select_page' | translate"></td>
								<td>
									<span ng-bind="ctrl.mainmenu_dtl.path"></span>
									<!--<a href="javascript:void(0)" class="md-trigger btn btn-primary"  ng-click="ctrl.select_page()" ng-bind="'lg_main.select_page' | translate"></a>-->
									<dbpage-sel data="ctrl.mainmenu_dtl"></dbpage-sel>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			
				<div class="filter-block pull-right">									
					<a ng-if="ctrl.funcPerm.U == 'true'" href="javascript:void(0)" ng-click="ctrl.submit()" class="btn btn-success pull-right">
						<i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;<span ng-bind="'lg_main.cfm' | translate"></span>
					</a>											
					<a href="#mainmenu_list#{{ctrl.backhash}}" class="btn btn-default pull-right">
						<i class="fa fa-close fa-lg"></i>&nbsp;&nbsp;<span ng-bind="'lg_main.cancel' | translate"></span>
					</a>			
				</div>
			</div>
		</div>
	</div>
</div>