<!-- BANNER -->
<section class="page_banner"
    style="background: url(templates/default/images/title_banner.png) center center no-repeat;">
    <div class="container title_padding">
        <div class="top_title">
            <span class="cht">
                <span ng-if="om=='1'">會員中心</span>
                <span ng-if="om=='0'">經銷商中心</span>
            </span><br>
            <span class="small">-全方位的科學養生保健之道-</span>
        </div>
    </div>
</section>

<style>
    input {
        -ms-user-select: none;
        /* comment this line out and rerun to fix focus issue */
    }
</style>

<!-- CONTENT -->
<section>
    <div class="container page_padding detail_p">
        <div>
            <div class="form-group message" ng-if="::ctrl.user.name">
                <label ng-if="om=='0'" class="" for="" style="font-size:1em;">
                    <div class="hidden-lg hidden-md col-sm-12 no-padding">
                        <div class="col-sm-12 no-padding">
                            
                            <i class="fa fa-exclamation-circle" style="margin-left:1em"></i>

                            <button class="btn" style="margin-left:5px;background-color:#0d924a;color:white"
                                type="button" ng-click="ctrl.recomUser()">
                                推薦經銷商
                            </button>
                            <button class="btn" style="margin-left:5px;background-color:#FEC000;color:#880115"
                                type="button" ng-click="ctrl.recomUser2()">
                                推薦會員
                            </button>
                        </div>
                        <div class="col-sm-12 no-padding">
                            經銷商編號:<span id="c_id2" style="font-size:100%" ng-bind="ctrl.user.mb_no"></span><span
                                class="copy" data-clipboard-target="#c_id2"
                                style="color:#0d924a;text-decoration:underline;cursor:pointer;margin-left:10px">複製
                            </span>
                        </div>

                    </div>

                    <div class="hidden-xs hidden-sm col-md-12 no-padding">

                        <i class="fa fa-exclamation-circle" style="margin-left:1em"></i>

                        <button class="btn" style="margin-left:5px;background-color:#0d924a;color:white" type="button"
                            ng-click="ctrl.recomUser()">
                            推薦經銷商
                        </button>
                        <button class="btn" style="margin-left:5px;background-color:#FEC000;color:#880115" type="button"
                            ng-click="ctrl.recomUser2()">
                            推薦會員
                        </button>


                        經銷商編號:<span id="c_id3" style="font-size:100%" ng-bind="ctrl.user.mb_no"></span><span
                            class="copy" data-clipboard-target="#c_id3"
                            style="color:#0d924a;text-decoration:underline;cursor:pointer;margin-left:10px">複製
                        </span>



                    </div>
                    
                </label>

                <div ng-if="ctrl.has_renewal=='1'" class="col-md-12 col-xs-12 col-sm-12 stripes5" style="margin:10px 0px;padding:7px;width:100%">
                    <!-- <a ng-href="{{ctrl.renewal_pdf}}" target="_blank" class="btn renewal_btn" download> -->
                        <div class="col-md-12 col-xs-12 col-sm-12" style="padding:3px;background-color:white">
                            <i class="fa fa-bell shine" style="color:#eb4023"></i><span>下載</span>
                            <a ng-click="ctrl.downloadFile(ctrl.renewal_pdf,ctrl.pdf_name)" target="_blank" style="color:#880115;padding:0px 5px;cursor:pointer" >
                            2024 需續約名單
                            </a>
                            <span class="hidden-sm hidden-xs" style="color:#7E7E7E;font-size:0.8em;white-space:nowrap">(統計至2023-11-30)</span>
                            <span class="hidden-md hidden-lg" style="color:#7E7E7E;font-size:0.8em;white-space:nowrap">(統計至2023-11-30)</span>
                        </div>
                    
                    
                </div>

                <label ng-if="om=='1'">
                    <!-- 會員編號:{{ctrl.user.mb_no}} -->
                    會員編號:
                    <span id="c_id2" style="font-size:100%" ng-bind="ctrl.user.mb_no"></span><span class="copy"
                        data-clipboard-target="#c_id2"
                        style="color:#0d924a;text-decoration:underline;cursor:pointer;margin-left:10px">複製</span>

                </label>
            </div>
        </div>
        <!-- 麵包屑 -->
        <div class="row">
            <div class="col-xs-12 padding_0">
                <div class="col-xs-12">
                    <span class="pathway"><a href="index_page">首頁</a><i class="fa fa-angle-right"></i>
                        <span ng-if="!member_status && ctrl.mbst_page != 'signupNewPage'">會員/經銷商中心</span>
                        <span ng-if="!member_status && ctrl.mbst_page == 'signupNewPage'">註冊中心</span>
                        <span ng-if="member_status && om=='1'">會員中心</span>
                        <span ng-if="member_status && om=='0'">經銷商中心</span>
                        <i class="fa fa-angle-right"></i>
                        <span ng-if="!member_status">
                            <span ng-bind="ctrl.subtitle" ng-class="!ctrl.dtltitle?'txt_Green':''"></span>
                        </span>
                        <span ng-if="member_status && om=='0'">
                            <span ng-bind="ctrl.subtitle1" ng-class="!ctrl.dtltitle?'txt_Green':''"></span>
                        </span>
                        <span ng-if="member_status && om=='1' && ctrl.subtitle1">
                            <span ng-bind="ctrl.subtitle2" ng-class="!ctrl.dtltitle?'txt_Green':''"></span>
                        </span>
                        <span ng-if="member_status && om=='1' && ctrl.subtitle2 && !ctrl.subtitle1">
                            <span ng-bind="ctrl.subtitle2" ng-class="!ctrl.dtltitle?'txt_Green':''"></span>
                        </span>

                        <i ng-if="ctrl.dtltitle" class="fa fa-angle-right"></i>
                        <span ng-if="!member_status">
                            <span class="txt_Green" ng-bind="ctrl.dtltitle"></span>
                        </span>
                    </span>
                    <span ng-if="member_status && om=='0'">
                        <span class="txt_Green" ng-bind="ctrl.dtltitle2"></span>
                    </span>
                    <span ng-if="member_status && om=='1'">
                        <span class="txt_Green" ng-bind="ctrl.dtltitle1"></span>
                    </span>


                </div>
            </div>
        </div>

        <div class="page_padding">
            <div class="row">
                <!--新的左側選單-->
                <multileft-menu ng-if="member_status && om=='0'" tlist="ctrl.multileftmenu1"
                    usehref="member_page">


                <!---E_update--->
                <div class="col-xs-12 col-sm-9 col-md-9 page_content"
                ng-if="member_status && ctrl.mbst_page=='spouse_add'">
                <div class="print_this">
                    <!-- 大標題 -->
                    <div class="row">
                        <div class="col-xs-12 page_content_title" id="mt_top">
                            <h3>
                                <span">配偶資料填寫</span>
                            </h3>
                        </div>
                    </div>

                    <div class="col-xs-12" >

                        <div class="print_max cart_list_form table-responsive">
                            <h4>&nbsp;<br /><i
                                class="fa fa-info-circle"></i>&nbsp;&nbsp;提醒：配偶申請僅能1位加入經營權，如夫妻要獨立經營權則不用填寫配偶申請表，
                                若夫妻想要獨立經營權合併，敬請填寫OP-310合併申請書，方能共享「主經營權」之階級榮耀。
                     
                            </h4>
                            <div class="form-group clearfix ">
                                <label for="ms_set" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                    style="padding-top: 7px;padding-left:0px; text-align: left;"><span class="text-danger">*
                                    </span>是否有穿鞋組
                                </label>
                                <div class="col-sm-9 col-md-8 col-lg-9">
                                    <div class="radio i-checks ng-scope" ng-init="ctrl.ms_set = 0">
                                        <label class="ng-binding">
                                            <input type="radio" ng-value="1"
                                                class="ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="ctrl.ms_set" value="1" /><i></i> 是
                                        </label>&emsp;
                                        <label class="ng-binding">
                                            <input type="radio" ng-value="0"
                                                class="ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="ctrl.ms_set" value="0" /><i></i> 否
                                        </label>
                                    </div>


                                </div>
                            </div>
                            <div class="form-group clearfix " ng-repeat="seq in ctrl.idcardplist">
                                <label for="ms_erpid" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                style="padding-top: 7px;padding-left:0px; text-align: left;">配偶會員編號
                                </label>
                            
                                <div class="col-sm-9 col-md-8 col-lg-9">
                                    
                                    <input type="text"
                                        class="form-control ng-pristine ng-valid ng-not-empty ng-touched thepwd"
                                        id="ms_erpid" name="ms_erpid" ng-blur="ctrl.chkerpid($event)" ng-model="ctrl.ms_erpid" placeholder=""
                                        style="padding: 5px;display:inline; width: 50%;" />
                                        
                                </div>
                            </div>

                            <div class="form-group clearfix " ng-repeat="seq in ctrl.idcardplist">
                                <label for="ms_name" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                style="padding-top: 7px;padding-left:0px; text-align: left;"><span
                                    class="text-danger">*
                                    </span>配偶姓名
                                </label>
                            
                                <div class="col-sm-9 col-md-8 col-lg-9">
                                    
                                    <input type="text"
                                        class="form-control ng-pristine ng-valid ng-not-empty ng-touched thepwd"
                                        id="ms_name" name="ms_name" ng-bind="ctrl.ms_name" ng-model="ctrl.ms_name" placeholder=""
                                        style="padding: 5px;display:inline; width: 50%;" />
                                </div>
                            </div>


                            <div class="form-group clearfix " ng-repeat="seq in ctrl.idcardplist">
                                <label for="ms_cellphone" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                style="padding-top: 7px;padding-left:0px; text-align: left;">配偶手機
                                </label>
                            
                                <div class="col-sm-9 col-md-8 col-lg-9">
                                    
                                    <input type="tel"
                                        class="form-control ng-pristine ng-valid ng-not-empty ng-touched thepwd"
                                        id="ms_cellphone" name="ms_cellphone" ng-bind="ctrl.ms_cellphone" ng-model="ctrl.ms_cellphone" placeholder=""
                                        style="padding: 5px;display:inline; width: 50%;" />
                                </div>
                            </div>

                            <div class="form-group clearfix " ng-repeat="seq in ctrl.idcardplist">
                                <label for="ms_phone" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                style="padding-top: 7px;padding-left:0px; text-align: left;">配偶電話
                                </label>
                            
                                <div class="col-sm-9 col-md-8 col-lg-9">
                                    
                                    <input type="tel"
                                        class="form-control ng-pristine ng-valid ng-not-empty ng-touched thepwd"
                                        id="ms_phone" name="ms_phone" ng-bind="ctrl.ms_phone" ng-model="ctrl.ms_phone" placeholder=""
                                        style="padding: 5px;display:inline; width: 50%;" />
                                </div>
                            </div>
                            <span style="color:red;">
                                *配偶手機與電話擇一選填
                             </span>

                            <div class="form-group clearfix " ng-repeat="seq in ctrl.idcardplist">
                                <label for="ms_birthday" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                    style="padding-top: 7px;padding-left:0px; text-align: left;"><span
                                        class="text-danger">*
                                    </span>配偶生日</label>
                                <div class="col-sm-9 col-md-8 col-lg-9">                                  
                                    <input type="date" id="ms_birthday" ng-bind="ctrl.ms_birthday" ng-model="ctrl.ms_birthday" name="ms_birthday" >
                                    <br>
                                </div>
                            </div>

                            <div class="form-group clearfix " ng-repeat="seq in ctrl.idcardplist">
                                <label for="ms_relation" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                style="padding-top: 7px;padding-left:0px; text-align: left;"><span
                                    class="text-danger">*
                                    </span>關係
                                </label>
                                
                                <div class="col-sm-9 col-md-8 col-lg-9">
                                    
                                    <div class="radio i-checks ng-scope" >
                                        <label class="ng-binding">
                                            <input type="radio" ng-model="ctrl.ms_relation" ng-value="夫"
                                                class="ng-pristine ng-untouched ng-valid ng-not-empty" value="夫" /><i></i> 夫
                                        </label>&emsp;
                                        <label class="ng-binding">
                                            <input type="radio" ng-model="ctrl.ms_relation" ng-value="妻"
                                                class="ng-pristine ng-untouched ng-valid ng-not-empty" value="妻" /><i></i> 妻
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group clearfix " ng-repeat="seq in ctrl.idcardplist">
                                <label for="ms_sid" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                style="padding-top: 7px;padding-left:0px; text-align: left;"><span
                                    class="text-danger">*
                                    </span>配偶身分證字號
                                </label>
                            
                                <div class="col-sm-9 col-md-8 col-lg-9">
                                    
                                    <input type="text"
                                        class="form-control ng-pristine ng-valid ng-not-empty ng-touched thepwd"
                                        id="ms_sid" ng-model="ctrl.ms_sid" ng-bind="ctrl.ms_sid" name="ms_sid" placeholder=""
                                        style="padding: 5px;display:inline; width: 50%;" />
                                </div>
                            </div>


                                    <div class="form-group clearfix " ng-repeat="seq in ctrl.idcardplist">
                                        <label for="idcardp" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                            style="padding-top: 7px;padding-left:0px; text-align: left;"><span
                                                class="text-danger">*
                                            </span>身分證正面</label>
                                        <div class="col-sm-9 col-md-8 col-lg-9">
                                            <!-- <input type="file" accept="image/*" id="idcardp" /> -->
                                            <img-fields ng-model="ctrl.productimg[seq]" preview="previewImage"
                                                seq="{{seq}}" class="btn btn-primary">選擇檔案</img-fields>
                                            <img ng-show="previewImage[seq]" ng-src="{{previewImage[seq]}}"
                                                style="width:auto;height:160px;margin-bottom:10px;" />
                                            <br>

                                        </div>

                                    </div>

                                    <div class="form-group clearfix" ng-repeat="seq2 in ctrl.idcardnlist">
                                        <label for="idcardn" class="col-sm-3 col-md-4 col-lg-3 control-label"
                                            style="padding-top: 7px; text-align: left; padding-left:0px"><span
                                                class="text-danger">*
                                            </span>身分證反面</label>
                                        <div class="col-sm-9 col-md-8 col-lg-9">
                                            <!-- <input type="file" accept="image/*" id="idcardp" /> -->
                                            <img-fields ng-model="ctrl.productimg2[seq2]" preview="previewImage2"
                                                seq="{{seq2}}" class="btn btn-primary">選擇檔案</img-fields>
                                            <img ng-show="previewImage2[seq2]" ng-src="{{previewImage2[seq2]}}"
                                                style="width:auto;height:160px;margin-bottom:10px;" />
                                            <br>
                                        </div>
                                    </div>






                            <br />
                            <br />
                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <button class="btn btn-lg btn-first btn-block" type="button"
                        ng-click="ctrl.spouseChk()" ng-disabled='sub_form'>確定送出</button>

                        <!--cart_list_form end-->
                    </div>
                

            </div>
            <!-- END -->
                


            </div>
        </div>
    </div>
</section>
