<link rel="stylesheet" type="text/css" href="templates/default/css/style.css" />
<div id="theme-wrapper" ng-controller="user_ctrl">
	<header class="navbar" id="header-navbar">
		<div class="container">
			<a href="#/siteinfo" id="logo" class="navbar-brand">
				<img src="templates/default/img/logo.png" alt="" class="normal-logo logo-white"/>
				<img src="templates/default/img/logo-black.png" alt="" class="normal-logo logo-black"/>
				<!--<img src="img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden"/>-->
			</a>
			
			<div class="clearfix">
				<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				
				<div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
					<ul class="nav navbar-nav pull-left">
						<li>
							<a class="btn" id="make-small-nav">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				
				<div class="nav-no-collapse pull-right" id="header-nav">
					<ul class="nav navbar-nav pull-right">
						<li class="hidden-xxs">
							<a class="btn" target="_blank" href="../">
								<i class="fa fa-home"></i>&emsp;{{'lg_main.goclient' | translate}}
							</a>
						</li>
						<li class="hidden-xxs">
							<a class="btn" ng-click="appctrl.logout()">
								<i class="fa fa-power-off"></i>&emsp;{{'lg_main.logout' | translate}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	
	<div id="page-wrapper" class="container" ng-controller="main_ctrl as mainctrl">
		<div class="row">
			<div id="nav-col">
				<section id="col-left" class="col-left-nano">
					<div id="col-left-inner" class="col-left-nano-content">
						<div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown" >
							<img alt="" src="templates/default/img/samples/scarlet-159.png" />
							<div class="user-box">
								<span class="name">
									<a class="dropdown-toggle" data-toggle="dropdown" >
										{{user.name}}
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li><a href="javascript:void(0)" ng-click="go('pwchg_page',{})"><i class="fa fa-cog"></i>{{'lg_main.pwchg' | translate}}</a></li>
										<li><a ng-click="appctrl.logout()"><i class="fa fa-power-off"></i>{{'lg_main.logout' | translate}}</a></li>
									</ul>
								</span>
								<span ng-bind="'lg_main.last_upd_time' | translate"></span>
								<br>
								<span id="last_upd_time"></span>
							</div>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">	
							<ul class="nav nav-pills nav-stacked">
								<li ng-class="{'{{key}}': 'active'}[menubar]" ng-repeat="(key, data) in menulist" ng-hide="data.hide">
									
									<a href="javascript:void(0)" class="dropdown-toggle" ng-show="data.child">
										<i class="{{data.icon}}"></i>
										<span ng-bind="'lg_{{key}}.{{key}}' | translate"></span>
										<i class="fa fa-angle-right drop-icon"></i>
									</a>
									<ul class="submenu" ng-show="data.child">
										<li ng-repeat="(key2, data2) in data.child" >
											<a href="javascript:void(0)" ng-class="{'{{key2}}': 'active'}[menubar]" ng-click="go(data2.component+'_'+data2.page,data2.param,key2)" ng-bind="'lg_{{data2.component}}.{{key2}}' | translate">
												
											</a>
										</li>
									</ul>
									
									<a href="javascript:void(0)" ng-click="go(data.component+'_'+data.page,data.param,key)" ng-show="!data.child">
										<i class="{{data.icon}}"></i>
										<span ng-bind="'lg_{{data.component}}.{{key}}' | translate"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<div id="nav-col-submenu"></div>
			</div>
			<div id="content-wrapper" >
				<div class="row">
					<div class="col-lg-12">
						
						<!-- view -->
						<div class="slide-main-container" cg-busy="{promise:promise}">
							<div ng-view autoscroll="true" class="slide-main-animation"></div>
						</div>
						
					</div>
				</div>
				<footer id="footer-bar" class="row">
					<p id="footer-copyright" class="col-xs-12">Copyright © 2016 All Rights Reserved.&emsp;&emsp;</p>
				</footer>
				
			</div>
		</div>
	</div>
</div>