<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#/">{{'lg_main.index' | translate}}</a></li>
			<li class="active"><span >{{'lg_message.message' | translate}}</span></li>
		</ol>
	</div>
</div>

<div class="row">                       
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left" ><i class="fa fa-gear"></i><span id="views_title_name">&nbsp;{{'lg_message.message' | translate}}</span></h2>
				
			</header>
			
			<div class="main-box-body clearfix"  >
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th><span>{{'lg_message.message_title' | translate}}</span></th>
								<th><span>{{'lg_message.message_name' | translate}}</span></th>
								<th><span>{{'lg_message.message_email' | translate}}</span></th>
								<th><span>{{'lg_message.message_rectime' | translate}}</span></th>
								<th><span>{{'lg_message.message_qtype' | translate}}</span></th>
								<th><span>{{'lg_message.message_state' | translate}}</span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="message in ctrl.data_list">
								<td  style="width:30%;">
									{{message.title}}
								</td>
								<td  style="width:10%;">
									{{message.name}}
								</td>
								<td  style="width:10%;">
									{{message.email}}
								</td>
								<td  style="width:15%;">
									{{message.recTime}}
								</td>
								<td  style="width:10%;">
									{{message.qtype}}
								</td>
								<td  style="width:10%;">
									{{$root.pubcodeArr['msgState'][message.state]['name']}}
								</td>
								<td  style="width: 15%;">
									<a ng-if="ctrl.funcPerm.U == 'true'"  href="javascript:void(0)" ng-click="ctrl.gopage(message.id)" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a ng-if="ctrl.funcPerm.D == 'true'" href="javascript:void(0)" ng-click="ctrl.delete(message.id)" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<page-ctrl-el params="ctrl.params" cnt="ctrl.cnt" page="ctrl.params.page"></page-ctrl-el>
			</div>
		</div>
	</div>
</div>
	