
		<!-- BANNER -->
		<banner-content index="1"></banner-content>
		

		
		<!-- 最新商品 -->
		<section>
			<div class="container index_padding">
				<div class="row padding_0">
					<index-product index="1" title="{{'lg_home.home_new_product' | translate}}" proclass="row_area" title2="" type="new_product" showcnt="4"></index-product>
					
				</div>
			</div>
		</section>
		
		<section>
			<div class="container index_padding">
				<div class="row padding_0">
					<index-product index="2" title="{{'lg_home.home_hot_product' | translate}}" proclass="row_area" title2="" type="special_product" showcnt="4"></index-product>
					
				</div>
			</div>
		</section>
		
		<!-- 廣告區 -->
		<adv-content index="1"></adv-content>
		<adv-content index="2"></adv-content>
		<adv-content index="3"></adv-content>
		
		<!-- 媒體區 -->
		<div class="container container_bottom">
			<media-content title="{{'lg_home.home_report' | translate}}" title2="" index="1"></media-content>
			<news-content title="{{'lg_home.home_news' | translate}}" title2="" index="1"></news-content>
		</div>