<!-- CONTENT -->
	  <section>
		<div class="container page_padding detail_p">
		  
		  <!-- 麵包屑 -->
		  <div class="row">
			<div class="col-xs-12 padding_0">
			  <div class="col-xs-12 col-sm-6" >
				<span class="pathway">
					<a href="index_page" ng-bind="'lg_index.index' | translate">首頁</a>
					<span ng-if="!ctrl.searchmode">
						<i class="fa fa-angle-right" ng-if="ctrl.product_type_title"></i>
						<span ng-bind="ctrl.product_type_title"></span>
						<i class="fa fa-angle-right" ng-if="ctrl.product_type2_title"></i>
						<span class="txt_Green" ng-bind="ctrl.product_type2_title"></span>
					</span>
					<span ng-if="ctrl.searchmode">
						<i class="fa fa-angle-right"></i>
						<span ng-bind="'lg_products.search_result' | translate"></span>
					</span>
				</span>
			  </div>
			  <div class="col-xs-12 col-sm-6" style="text-align: right;">
				<addthis-content></addthis-content>
			  </div>
			</div>
		  </div>

		<div class="page_padding">
		  <div class="row">
		  <!-- 左側選單 -->
		  <left-menu ng-if="!ctrl.search_text && ctrl.typeid" tlist="ctrl.tlist" usehref="{{ctrl.leftmenu_href}}"></left-menu>
			


		  <!-- 內容 -->
			  <product-list searchmode="{{ctrl.searchmode}}" searchtext="ctrl.search_text" typeid="ctrl.typeid" cur="ctrl.cur"></product-list>

		  </div>
		</div>

		</div>
	</div>
</section>