<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#" ng-bind="'lg_main.index' | translate"></a></li>
			<li class="active"><span ng-bind="'lg_members.members' | translate"></span></li>
		</ol>
	</div>
</div>
<div class="row">
                            
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left" >
					<i class="fa fa-gear"></i>
					<span id="views_title_name" ng-bind="'lg_members.members' | translate">&nbsp;</span>
				</h2>
				
				<div class="filter-block pull-right">
					
					<div  ng-if="ctrl.funcPerm.U == 'true' || ctrl.funcPerm.D == 'true'" class="form-group pull-left">
						<button class="form-control" data-toggle="dropdown" >
							{{'lg_main.operate'|translate}}
							<i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu">
							<li ng-if="ctrl.funcPerm.U == 'true'" ><a ng-click="ctrl.operateChg(1)"><i class="fa fa-eye"></i>{{'lg_main.openitem'|translate}}</a></li>
							<li ng-if="ctrl.funcPerm.U == 'true'" ><a ng-click="ctrl.operateChg(2)"><i class="fa fa-eye-slash"></i>{{'lg_main.closeitem'|translate}}</a></li>
							<li ng-if="ctrl.funcPerm.D == 'true'" ><a ng-click="ctrl.operateChg(3)"><i class="fa fa-trash-o"></i>{{'lg_main.delitem'|translate}}</a></li>
						</ul>
					</div>
					
					<div class="form-group pull-left">
						<a class="form-control" data-toggle="dropdown" >
							<span ng-bind="ctrl.nowclass?ctrl.nowclass:'lg_members.members_calss' | translate"></span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a ng-click="ctrl.classChg(-1)"><i class="fa fa-cube"></i><span ng-bind="'lg_members.members_sales-1' | translate"></span></a>
							</li>
							<li><a ng-click="ctrl.classChg(0)"><i class="fa fa-cube"></i>{{'lg_members.members_sales0'|translate}}</a></li>
							<li><a ng-click="ctrl.classChg(2)"><i class="fa fa-cube"></i>{{'lg_members.members_sales2'|translate}}</a></li>
							<li><a ng-click="ctrl.classChg(1)"><i class="fa fa-cube"></i>{{'lg_members.members_sales1'|translate}}</a></li>
							
						</ul>
					</div>
					
					<div class="form-group pull-left">
						<a class="form-control" data-toggle="dropdown" >
							<span ng-bind="ctrl.memTypeStr?ctrl.memTypeStr:('lg_members.members_memType' | translate)"></span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a ng-click="ctrl.memTypeChg(-1)"><i class="fa fa-cube"></i><txt ng-bind="'lg_members.members_memType0' | translate">所有類別</txt></a></li>
							<li><a ng-click="ctrl.memTypeChg(0)"><i class="fa fa-cube"></i><txt ng-bind="'lg_members.members_memType1' | translate">一般會員</txt></a></li>
							<li><a ng-click="ctrl.memTypeChg(1)"><i class="fa fa-cube"></i><txt ng-bind="'lg_members.members_memType2' | translate">Ｅ化加入會員</txt></a></li>
							<li><a ng-click="ctrl.memTypeChg(4)"><i class="fa fa-cube"></i><txt ng-bind="'lg_members.members_memType4' | translate">會員</txt></a></li>
							<li><a ng-click="ctrl.memTypeChg(5)"><i class="fa fa-cube"></i><txt ng-bind="'lg_members.members_memType5' | translate">會員升級經銷商</txt></a></li>
							<li><a ng-click="ctrl.memTypeChg(6)"><i class="fa fa-cube"></i><txt ng-bind="'lg_members.members_memType6' | translate">待升級</txt></a></li>
						</ul>
					</div>

					<div class="form-group pull-left">
						<a class="form-control" data-toggle="dropdown" >
							<span ng-bind="ctrl.memLockedStr?ctrl.memLockedStr:('lg_members.members_memLocked' | translate)"></span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a ng-click="ctrl.memLockedChg(-1)"><i class="fa fa-cube"></i><txt ng-bind="'lg_members.members_memLocked0' | translate">所有類別</txt></a></li>
							<li><a ng-click="ctrl.memLockedChg(0)"><i class="fa fa-cube"></i><txt ng-bind="'lg_members.members_memLocked1' | translate">一般會員</txt></a></li>
							<li><a ng-click="ctrl.memLockedChg(1)"><i class="fa fa-cube"></i><txt ng-bind="'lg_members.members_memLocked2' | translate">Ｅ化加入會員</txt></a></li>
						</ul>
					</div>
					
					<div class="form-group pull-left">
						<div class="input-group" style="max-width:220px;">
						<span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
						<input type="text" class="form-control" date-range-picker ng-model="ctrl.params.date" options="ctrl.options2" clearable="true"  placeholder="{{'lg_members.members_regdate' | translate}}" >
						</div>
					</div>
					
					<div class="form-group pull-left">
						<div class="input-group" style="max-width:220px;">
						<span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
						<input type="text" class="form-control" date-range-picker ng-model="ctrl.params.date2" options="ctrl.options2" clearable="true"  placeholder="{{'lg_members.members_payDate' | translate}}" >
						</div>
					</div>
					
					<div class="form-group pull-left">
						<input type="text" class="form-control" ng-model="ctrl.params.search" my-enter="ctrl.refresh()" placeholder="{{'lg_main.search' | translate}}">
						<a ng-click="ctrl.refresh()"><i class="fa fa-search search-icon"></i></a>
					</div>
					
					<a ng-if="ctrl.funcPerm.C == 'true'" href="javascript:void(0)" ng-click="ctrl.gopage()" class="btn btn-success pull-right">
						<i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;<span ng-bind="'lg_main.add' | translate"></span>
					</a>
					
					<a href="javascript:void(0)" ng-click="ctrl.export()" class="btn btn-success pull-right">
						<i class="fa fa-download"></i>&nbsp;&nbsp;{{'lg_report.export_excel' | translate}}
					</a>
				</div>
			</header>

			<div style="font-size:120%;background-color:rgba(0,255,0,0.3);padding:7px 0px;">
				<span style="padding-left:12px" ng-bind="'lg_members.members_dis_cnt' | translate"></span>
				<span ng-bind="ctrl.cnt1"></span>
				<span style="padding-left:12px" ng-bind="'lg_members.members_mem_cnt' | translate"></span>
				<span ng-bind="ctrl.cnt2"></span>
			</div>
			
			<div class="main-box-body clearfix"  >
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">
									<md-checkbox md-no-ink
												 ng-checked="ctrl.isChecked()"
						                         md-indeterminate="ctrl.isIndeterminate()"
						                         ng-click="ctrl.toggleAll()"
						                         aria-label=" "
						                         class="md-primary"
						                         style="margin-bottom:0px;">
						            </md-checkbox>
								</th>
								<th class="text-center"><span ng-bind="'lg_members.members_regdate' | translate"></span></th>
								<th class="text-center" ng-bind="'lg_members.members_type' | translate">類別</th>
								<th class="text-center"><span ng-bind="'lg_members.members_name' | translate"></span></th>
								<th class="text-center"><span ng-bind="'lg_members.members_email' | translate"></span></th>
								<th class="text-center"><span ng-bind="'lg_members.members_sid' | translate"></span></th>
								<th class="text-center"><span ng-bind="'lg_members.members_phone' | translate"></span></th>
								<th class="text-center"><span ng-bind="'lg_members.members_mobile' | translate"></span></th>
								<th class="text-center" ng-bind="'lg_members.members_takeType' | translate">自取門市</span></th>
								<th class="text-center"><span ng-bind="'lg_members.members_calss' | translate"></span></th>
								<th class="text-center"><span ng-bind="'lg_members.members_lock' | translate"></span></th>
								<th width="18%">&nbsp;</th>
							</tr>
						</thead>
						<tbody >
							<tr ng-repeat="members in ctrl.data_list">
								<td class="text-center" width="5%">
									<md-checkbox md-no-ink ng-checked="ctrl.exists(members, ctrl.selected)" ng-click="ctrl.toggle(members, ctrl.selected)" class="md-primary" style="margin-bottom:0px;" aria-label=" "></md-checkbox>
								</td>
								<td class="text-center" ng-bind="members.regDate"></td>
								<td class="text-center" ng-bind="members.memTypeStr"></td>
								<td class="text-center" ng-bind="members.name"></td>
								<td class="text-center" ng-bind="members.email"></td>
								<td class="text-center" ng-bind="members.sid"></td>
								<td class="text-center" ng-bind="members.phone"></td>
								<td class="text-center" ng-bind="members.mobile"></td>
								<td class="text-center" ng-bind="members.dlvrLocation"></td>
								<td class="text-center" ng-bind="members.salesChk"></td>
								<td class="text-center"><span ng-class="{'0': 'label label-success', '1': 'label label-gray'}[members.locked]" ng-bind="{'0': 'ON', '1': 'OFF'}[members.locked]"></span></td>
								<td  style="width: 18%;">
									<a ng-if="ctrl.funcPerm.U == 'true'" href="javascript:void(0)" ng-click="ctrl.gopage(members.id)" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="javascript:void(0)" ng-click="ctrl.golog(members.id)" title="{{'lg_members.members_weblog' | translate}}" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<!--a href="javascript:void(0)" ng-click="ctrl.gocoin(members.id)" title="{{'lg_members.members_coinUsedLog' | translate}}" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
										</span>
									</a-->
									<a ng-if="ctrl.funcPerm.D == 'true'" href="javascript:void(0)" ng-click="ctrl.delete(members.id)" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>

						</tbody>
					</table>
		</div>
			<page-ctrl-el params="ctrl.params" cnt="ctrl.cnt" page="ctrl.params.page"></page-ctrl-el>
			</div>
		</div>
	</div>
	
</div>